<body class="landing">
  
  <div class="grid-container landing-container">
    <div class="landing-intro callout success">
      <center>
        <%=image_tag("project-nom-logo.png")%>
        <p>Created by <a class="devise-link" href="https://github.com/blee3d">Brian Lee</a> </p>
      </center>

      <p>
      <b>Project Nom</b> is an app that allows users to find recipes by ingredient name, and cuisine type.
      Users will need to create an account before navigating the app.
      </p>

      <p>
      <b>Important:</b> There is a daily limit to Spoonacular API's free license.
      Please be conscious of this as you create new queries. 
      </p>
    </div>
  </div>
</body>