/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require foundation_and_overrides
 *= require_tree .
 *= require_self

 */

.top-bar {
   height: 3em;
}

.dropdown {
  height: 3em;
}

.menu a:hover {
  color: #FEDE00;
}

.landing-container {
  height: 30em;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.devise-page {
  width: 30em;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.landing-intro {
  width: 40em;
}

body{
  background-image: asset-url("../assets/vegetables-background.jpg");
  background-size: cover;
}

a {
  color: white;
}

.devise-link {
  color: lightseagreen;
}

.recipe-source {
  color: grey;
  font-size: 0.75em;
}

.recipe-source-url {
  color: grey;
  font-size: 1em;
}

.search-submit {
  background-color: #bacc81;
}

.search-submit:hover {
  background-color:#FEDE00;
}

.user-auth {
  background-color: #bacc81;
  font-size: 10px;
}

.user-auth:hover {
  background-color:#FEDE00;
  font-size: 10px;
}

ul.nobullet {
  list-style-type: none;
}

.parallax-background {
  height: 100%;
  background-image: asset-url("../assets/vegetables-background.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.nom-logo {
  text-align: center;
}

.para-search-bar {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}

.parallax-content {
	max-width: 100%;
	position: relative;
  background-color: white;
}

.recipe-card {
  margin-bottom: 0;
}

.recipe-card-title {
  font-weight: bold;
  font-size: 1.25em;
  margin-bottom: 0;
}

.recipe-card-author {
  font-size: 1em;
  font-size: 0.85em;
}

.recipe-card-details {
  font-size: 0.75em;
  margin-bottom: 0;
}

.field {
  width: 20em;
}